<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/main.css">
<body class="d-flex h-100 text-center text-bg-dark">     
    <div class="cover-container w-100 h-100 p-3 mx-auto flex-column">
        <%- include("partials/header.ejs") %>
        <h1 class="heading-align text-dark">Add Book  </h1>
        <form method="post" action="/create">
          <input name="title" type="text" class="feedback-input" placeholder="Title" /></br>
          <textarea name="description" type="text" class="feedback-input" placeholder="Description"></textarea></br>
          <input name="author" type="text" class="feedback-input" placeholder="Author" /></br>
          <input name="isbn" type="text" class="feedback-input" placeholder="ISBN" /></br>
          <input name="date" type="date" class="feedback-input" placeholder="Book Read On"/></br>
          <input name="rating" type="text" class="feedback-input" placeholder="Rating/10" /></br>
          <textarea name="notes" type="text" class="feedback-input" placeholder="Notes"></textarea></br>
          <input type="submit" value="SUBMIT" /></br>
        </form>
    </div>